table{
	border:1px solid black;
	background-color: rgba(200,30,3,.7);
}
th, td{
	border:1px solid black;
	background-color: rgba(200,30,3,.7);
}
.login_title{
	color: white;
}
.finder{
	background-color: rgba(10,10,10,0.9);
}

